<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Home Page</title>
</head>

<body>
    <!-- <%- include('./partials/_navbar.ejs') %> -->
        <% if (user) { %>
            <h1>Welcome to the app, <%= user.username %>!</h1>
            <p><a href="/auth/sign-out">Sign out</a></p>
            <% } else { %>
                <h1>Welcome to your fitness app! </h1>

                <img class="workout-pic1" src="/image/image.png" alt="workout photo">
                <p>
                    <a href="/auth/sign-up">Sign up</a> or <a href="/auth/sign-in">sign in</a>
                </p>
                <% } %>

</body>
<footer>Icons by <a href="">Freya</a></footer>


</html>